[submodule "BEGPUThinning"]
	path = BEGPUThinning
	url = git@github.com:bricerauby/BEGPUThinning.git
	branch = dev
[submodule "JermanEnhancementFilter"]
	path = JermanEnhancementFilter
	url = git@github.com:timjerman/JermanEnhancementFilter.git
